/* This code was taken from below URL */
/* https://codepen.io/delroyprithvi/pen/LYyJROR */

#stars {
  overflow: hidden;
}

section#stars > span {
  position: absolute;
  width: 4px;
  height: 4px;
  background: #fff;
  border-radius: 50%;
  box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.1), 0 0 0 8px
    rgba(255, 255, 255, 0.1), 0 0 20px rgba(255, 255, 255, 0.1);
  animation: animate 3s linear infinite;
}

#stars span::before {
  content: "";
  position: absolute;
  transform: translateY(-50%);
  width: 300px;
  height: 1px;
  background: linear-gradient(90deg, #fff, transparent);
}

@keyframes animate {
  0% {
    transform: rotate(315deg) translateX(0);
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  100% {
    transform: rotate(315deg) translateX(-1000px);
    opacity: 0;
  }
}

span#star-a {
  top: 250;
  right: 0;
  left: initial;
  animation-delay: 0s !important;
  animation-duration: 1s !important;
}
span#star-b {
  top: 0;
  right: 580px;
  left: initial;
  animation-delay: 0.6s !important;
  animation-duration: 5s !important;
}
span#star-c {
  top: 80;
  right: 0px;
  left: initial;
  animation-delay: 0.4s !important;
  animation-duration: 2s !important;
}
span#star-d {
  top: 0;
  right: 180px;
  left: initial;
  animation-delay: 0.6s !important;
  animation-duration: 1.5s !important;
}
span#star-e {
  top: 0;
  right: 400px;
  left: initial;
  animation-delay: 0.8s !important;
  animation-duration: 2.5s !important;
}
span#star-f {
  top: 0;
  right: 600px;
  left: initial;
  animation-delay: 1s !important;
  animation-duration: 3s !important;
}
span#star-g {
  top: 300px;
  right: 0px;
  left: initial;
  animation-delay: 1.2s !important;
  animation-duration: 1.75s !important;
}
span#star-h {
  top: 0px;
  right: 700px;
  left: initial;
  animation-delay: 1.4s !important;
  animation-duration: 1.25s !important;
}
span#star-i {
  top: 0px;
  right: 1000px;
  left: initial;
  animation-delay: 0.75s !important;
  animation-duration: 2.25s !important;
}
span#star-j {
  top: 0px;
  right: 450px;
  left: initial;
  animation-delay: 2.75s !important;
  animation-duration: 2.75s !important;
}
